@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: 'Poppins', sans-serif; 
}

.App {
  text-align: center;  
}

.container {
  
}

main {
  padding: 10px;
  min-height: calc(100vh - 100px);
  width: 900px;
  margin: 0 auto;
}

button {
  outline: invert;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: unset;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;  
  background-color: black;
  height: 60px;   
}

header a {  
  margin: 20px;
  color: #fff;
  text-decoration: none;
}

header a:hover { 
  color: #707070; 
}

h1 {
  text-align: center;
  margin-top: 20px;
}

p {  
  text-align: center;  
}

footer {
  text-align: center;  
}

.active {
  color: rgb(211, 231, 0);
  cursor: default;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}

.post svg {
  font-size: 40px;  
}

.postContent p {
  text-align: left;
}




